<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ben's Weather Station</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
   <h1>Ben's Weather Station</h1>
   <h3>The wind dir value is: {{wd}}</h3>
   <h3>The humidity value is: {{rh}}</h3>
   <h3>The wind speed value is: {{ws}}</h3>
   <h3>The wind gust value is: {{wg}}</h3>
   <h3>The air temp value is: {{t}}</h3>
   <h3>The pressure value is: {{p}}</h3>
   <h3>The precipitation value is: {{pt}}</h3>
   <h3>The dew point value is: {{dp}}</h3>
 </body>
</html>
